.container1{
	max-width: 700px;
	margin: 0 auto;
	padding: 50px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#card{
    margin: 0 auto;
    padding: 10%;
    cursor: pointer;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
#card:hover {
    transform: scale(1.05);
}
#cardst{
    margin: 0 auto;
    padding: 6%;
    cursor: pointer;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
#cardst:hover {
    transform: scale(1.05);
}
#logout{
    margin-right: 1em;
}
.pagetitle{
    margin-left: 1em;
}
#carouselbox{
    width: 180px;
    height: 100px;
}
